 @charset="UTF-8"


 #mainMenuBox{background-color:#888;height:40px;margin-top:30px;line-height:40px;}
    #mainMenuBox li{float:left;width:25%;text-align:center;}
    #mainMenuBox ul{list-style:none;}
    #mainMenuBox a{text-decoration:none;color:white;font-weight:bold;font-size:15px;}
    table{width:800px;margin-bottom:50px;}
    #prdName{color:blue;font-weight:bold}
    #price{color:red;}
    #wrap{text-align:center;width:800px;margin:0 auto;}
    .box{width:300px;height:200px;border:solid 1px;
    display:inline-block;margin:10px;padding-left:20px;padding-right:20px;
    text-align:left;font-size:small}
    hr{margin-bottom:20px;}
    .box a:hover{color:red;text-decoration:none;}
    #mainMenuBox a:hover{color:red;text-decoration:underline;background-color:black}